body {
  font-size: 15px;
}

.page {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #4b4ba3;
  color: #f1f1fd;
}

.header__page {
  margin-bottom: 15px;
}

.container {
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-right: auto;
  margin-left: auto;
}

/*.header__authorization-login {   оборачивает сслылки авторизации и регистрации
}
*/

.header__link {
  color: #f1f1fd;
}

.header__authorization-data {
  display: flex;
  flex-direction: row-reverse;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

/* .header__authorization-avatar { оборачивает ссылку с фотографией пользователя
}
 */

/* .main {  основной контент
}
 */

/*.search {  стилизация формы поиска

}
*/

.form__search {
  margin-bottom: 15px;
}

.d-flex {
  display: flex;
}

.search__wrap {
  position: relative;
  width: 100%;
}

.label-search {
  width: 100%;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.field-search {
  box-sizing: border-box;
  width: 90%;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #b0b0bb;
}

.button {
  padding: 6px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

.button-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  min-width: 48px;
  height: 40px;
  padding: 0;
  background-color: #e6e6fa;
}

/*.btn__main {  в файле btn-main.css
}
 */

.list {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.btn-item {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 15px;
  padding: 10px;
  border-radius: 5px;
}

/*
.btn-item--search {  в файле btn-main.css
 }
 */

/*
.btn-item--add {  в файле btn-main.css
}
 */

/*.btn-item--archive {   в файле btn-main.css

}
*/

/*
.card {  стилизация новой карточки клиента
}
 */

.card__header {
  position: relative;
  text-align: center;
}

.card__title {
  flex: 1;
}

/*
.btn--delete { в файле btn-card.css
}
 */

.card__content {
  flex-direction: column;
  flex: 1;
}

.form__col-wrap {
  justify-content: space-between;
  margin-bottom: 10px;
}

.form__col {
  min-width: 47%;
  width: 47%;
}

.form__row {
  margin-bottom: 10px;
  padding: 10px;
}

.form__row-odd {
  background-color: #f1f1fd;
}

.form__group {
  display: flex;
  align-items: center;
}

.form__hint {
  width: 35%;
  margin-right: 15px;
  cursor: pointer;
}

.pets,
.input-field {
  box-sizing: border-box;
  width: 48%;
  padding: 5px 8px;
}

.pets:focus {
  outline: 1px solid #4b4ba3;
}

.input-field:focus {
  outline: 1px solid #4b4ba3;
}

.radio-group-wrap {
  display: flex;
  justify-content: center;
}

/*.radio-group {  оборачивает блок радиокнопок
}
*/

.radio-group--odd {
  margin-right: 10px;
}

/*
form__vaccine {  для vaccine.js
}
 */

.form__group-bottom {
  margin-bottom: 10px;
}

.button-wrap {
  margin-bottom: 10px;
}

.button--right {
  margin-right: 10px;
}

/*
.form__disease {  для disease.js
}
 */

/*
  form__group_disease {  для disease.js
  }
 */

.additional-information {
  width: 48%;
  min-width: 48%;
  max-width: 48%;
  min-height: 100px;
  max-height: 260px;
  padding: 5px;
}

.additional-information:focus {
  outline: 1px solid #4b4ba3;
}

.examination {
  margin-bottom: 10px;
}

@media (min-width: 550px) and (max-width: 768px) {
  .form__row {
    flex-direction: column;
  }

  .form__group {
    flex-direction: column;
  }

  .radio-group-wrap {
    display: flex;
    justify-content: center;
  }

  .pets {
    width: 70%;
  }

  .form__hint {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  .input-field {
    width: 70%;
  }

  .form__col {
    min-width: 95%;
    width: 95%;
  }

  .form__col-wrap {
    flex-direction: column;
  }

  .additional-information {
    width: 70%;
    min-width: 70%;
    max-width: 70%;
  }
}

@media (min-width: 400px) and (max-width: 549px)  {

  .btn-item {
    margin-right: 0;
  }

  .form__row {
    display: flex;
    flex-direction: column;
  }

  .form__group {
    flex-direction: column;
  }

  .form__hint {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  .header__authorization {  /*для мобильного браузера google chrome версии 87.0.4280.101 для андроид, выравнивает текст по левому краю */
    text-align: right;
  }

  .pets,
  .input-field {
    width: 100%;
  }

  .form__col {
    min-width: 95%;
    width: 95%;
  }

  .form__col-wrap {
    flex-direction: column;
  }

  .form__col-bottom {
    margin-bottom: 20px;
  }

  .additional-information {
    width: 90%;
    min-width: 90%;
    max-width: 90%;
  }
}

@media (max-width: 399px) {

  .header__name {
    width: 95px;
  }

  .header__authorization {
    width: 95px;
    text-align: left;
  }

  .card__header {
    flex-direction: column;
    align-items: center;
  }

  .btn-item {
    margin-right: 0;
  }

  .search__wrap {
    display: flex;
    flex-direction: column;
  }

  .button-search {
    position: static;
  }

  .btn__card {
    margin-bottom: 15px;
  }

  .form__row {
    display: flex;
    flex-direction: column;
  }

  .form__group {
    flex-direction: column;
  }

  .form__hint {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  .field-search,
  .pets,
  .input-field {
    width: 100%;
  }

  .field-search {
    margin-bottom: 10px;
  }

  .button-search {
    width: 100%;
  }

  .button-wrap {
    margin-bottom: 20px;
  }

  .form__col {
    min-width: 95%;
    width: 95%;
  }

  .form__col-wrap {
    flex-direction: column;
  }

  .form__col-bottom {
    margin-bottom: 20px;
  }

  .additional-information {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  .list__btn {
    flex-direction: column;
  }

  .list__btn--item {
    margin-bottom: 15px;
  }
}
